.background-img{
    background: url(https://th.bing.com/th/id/OIP.a5YOm_1N-oe-O025Jw4PTQHaE8?rs=1&pid=ImgDetMain) no-repeat;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
